[submodule "tutorial/js/ace-builds"]
	path = tutorial/js/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "tutorial/js/sc-js"]
	path = tutorial/js/sc-js
	url = https://github.com/sergio-castro/jsfiles.git
[submodule "tutorial/styles/sc-css"]
	path = tutorial/styles/sc-css
	url = https://github.com/sergio-castro/cssfiles
