[submodule "tutorial/js/ace-builds"]
	path = tutorial/js/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "tutorial/js/publication"]
	path = tutorial/js/publication
	url = https://github.com/sergio-castro/js-publication.git
[submodule "tutorial/styles/publication"]
	path = tutorial/styles/publication
	url = https://github.com/sergio-castro/css-publication.git
